<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <!-- ***  Detect 'Geneva' Framework  *** -->
    <Property Id="GENEVAFRAMEWORK" Secure="yes">
      <DirectorySearch AssignToProperty="yes" Id="FindGenevaFramework" Path="[WindowsFolder]assembly\GAC_MSIL\Microsoft.IdentityModel\" Depth="4" />
    </Property>
  </Fragment>
</Wix>