<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) $registeredorganization$.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <!-- TODO: define SQL scripts binaries
    <Binary Id="Update1" SourceFile="..\Change Scripts\V1.0.0001\Update1.SQL" />
    <Binary Id="Update2" SourceFile="..\Change Scripts\V1.0.0002\Update2.SQL" />
    -->
  </Fragment>
</Wix>